
{% load static %}

<title>{% block title %} ValorIA{% endblock %}</title>
<link rel="shortcut icon" type="image/x-icon" href="{% static 'lluvia.ico' %}">



<link rel="stylesheet" href="{% static 'css/bienvenida.css' %}">

<section width="100%" height="100%">
  
   
    <table width= "100%" style= "text-align:center;">
        <br><br> <tr> <td width="100%"> <h3 class="titulo">¡HOLA {{request.user.first_name}}!</h3></td></tr>
        <tr> <td width="100%;"> <h3 class="titulo">¡BIENVENIDO A  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'imagenes/Imagen 1.png' %}" style="position:absolute; margin-left:-155px; margin-top:-10px"  width=150px height=50px>!&nbsp;</h3></td></tr>
    
        <tr> <td width="100%">	

            
            <div style="text-align: center">
         
			<img  src="media/{{user.profile.photo}}" class="img2">

        </div>
       </td></tr>
    </table>
        
    <table width= "100%" style= "text-align:center;">
        <br> <tr>
              <td width="50%"><a href="/Lecturas" ><button class="buttones" style="font-size:20px;">Comenzar</button></a></td>
              <td width="50%"> <a href="/usuario/" ><button class="buttones" style="font-size:20px;">Perfil</button></a></td>
            </tr><br>
    <table width= "100%" style= "text-align:center;" >
        
        <br> <tr>
            <td width="100%"> <a href="{% url 'logout' %}"><button class="buttones" style="font-size:20px;">Cerrar Sesion</button></a></td>
          </tr><br>
        </table>
       
    </section>
    

   
  

   