{% load static %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidenav.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
 

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    
    <script src="{% static 'main.js' %}" defer></script>
    <script src="{% static 'sidenav.js' %}" defer></script>
    
    {% block scripts %}
  
    {% endblock scripts %}

    <title>{% block title %} ValorIA{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'lluvia.ico' %}">


    <style type="text/css">
      html, body {
        background-color: black;
      }
    </style>

  </head>
  <body>
    <br><table width="100%" style="background-color:#1db594; margin-top:-2%">
      <tr>
        <td width="15%" ROWSPAN=5 >
          <div id="mySidenav" class="sidenav" >
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"> <div style="text-align:center;  margin-top: -8%;"> <img src= "{% static 'imagenes/Logo.png' %}" alt="100px" width="100px"></div>
            </a>
            <ul class="menus">  
              <li class="menu">
                <a href="/Lecturas">Tiempo Real</a>
                <a href="/Sensor1">Historico</a>
                <a href="/Sensor2">Estrategia</a>
                <a href="/Sensor3">Prospectiva</a>
                <a href="/Sensor4">Resultado</a>
                
              </li>
            
            
            </ul>
              <div style="text-align:center;    left: 50%; transform: translate(-50%, -50%);    position: absolute; bottom: 0;">
              
              <a href="{% url 'logout' %}"><button class="buttonlog">Cerrar Sesión</button></a><br>
              <h1 class="texto1">Powered by</h1> 
              <h1 class="texto1">SMARTEST</h1>
              </div>
          
            </div>
          
        
          <span style="font-size:30px;cursor:pointer; margin-left:-20px " onclick="openNav()"  > <div style="text-align:center; margin-left: -35%;"> <img src= "{% static 'imagenes/Logo.png' %}" alt="100px" width="100px"></div>
          </span> 
        </td>

        
       
        <td width="70%" style= "text-align:center;" ROWSPAN=5 >
       

          
        <img src="{% static 'imagenes/Imagen 1.png' %}" alt="My image" style= "width:20%; height:20%">
        </td>


    
        <td width="15%" style= "text-align:center;">
          <div style="text-align:center; margin-top:5%;"> 
            <img src="/media/{{user.profile.photo}}" class="img2" >
          </div>
        </td>
      </tr>

      <tr>  
        <td width="10%" class="valores-usuario">
          <div class="dropdown">
           
         <h1 style="font-size:18px; font-weight:bold; color:#d7ebf7;"> {{request.user.first_name}}</h1>
            <div class="dropdown-content">
            <a  href="../usuario/">Usuario </a>
            <a href="http://www.smartest.mx">About</a>
            <a href="{% url 'logout' %}">Cerrar Sesión</a>

            </div>
          </div>
        </td>
      </tr>



    </table> 
    
    
    <div class="container mt-3">
        {% block content %}
        {% endblock content %}
    </h1>
  </body>
</html>