.titulo{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    color: #FFFFFF;
    align-items: center;
}

html, body {
  background-color: black;
}
.buttones {
  width: 350px;
  height: 50px;
  background-color:#29af8c;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration:none;
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 1.4em;
  font-weight: bold;
 
  }
  .buttones:hover {
    background-color: #3cc39f;
  }
  .buttones:active {
    background-color: #0f8f93;
  }


  


  .dropdown {
    display: inline-block;
    
  }
  .dropdown-content {
    display: none;
    position:relative;
    width: 120px;
    overflow: auto;
    background-color: white;
    box-shadow: 1px 10px 10px 1px rgba(0,0,0,0.4);
    border-radius: 10px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    position:relative;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #38b6ff;
  }

  .img2 {
    width: 250px;
    height: 250px;
  }