/*inicio de calendario*/
.calendario{
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 2em;
  font-weight: bold;
  color: #38b6ff;
  border: none;

}
/*fin de calendario*/

/*inicio botones*/
.button {
  width: 100%;
  height: 50px;
  background-color:#38b6ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration:none;
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 1.4em;
  font-weight: bold;
 
}
.button:hover {
background-color: rgb(114, 185, 187)
}
.button:active {
background-color: #38b6ff;
}
/*fin botones*/

/*inicio sub-titulo*/
.sub-titulo
{
margin: auto;
font-family: 'Open Sans';
font-style: normal;
font-size: 2em;
font-weight: bold;
color: #38b6ff;
border: none;
  
}

/*fin sub-titulo*/



.encabezado{
margin: auto;
font-family: 'Open Sans';
font-style: normal;
font-size: 0.8em;
font-weight: bold;
color: black;
border: none;
}



