* {
    box-sizing: border-box;
  }
  html, body {
    background-color: coral;
  }
  h1 {
    margin: 0;
    padding: 0;
  }
  .custom-form {
    position: absolute;
  
    left: 50%;
    top: 50%;
  
    transform: translate(-50%, -50%);
  
    width: 350px;
  
    min-width: 30px;
    max-width: 350px;
    padding: 1rem 4rem;
    border-radius: 2.5rem;
    
    color:white;
    font-size:15px
    
  }
  .custom-form input {
    margin-top: 6%;
    margin-bottom: 20%;
    width: 100%;
    border-radius: 0.5rem;
    padding: 3%;
    border: none;
    background-color: #29af8c;
    border: 0 none;
  }
  .custom-form button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #29af8c;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
  }
  
  .custom-form button:hover {
      text-transform: uppercase;
      letter-spacing: 0.15em;
      border: none;
      font-size: 0.875rem;
      color: #ffffff;
      font-weight: bold;
      background-color: #3cc39f;
      width: 100%; text-align: center;
      align-items: center;
      align-content: center;
      padding: 0.875rem 1rem;
      border-radius: 1.5rem;
      cursor: pointer;
    }
  
  
  
    p{
      margin-top: 2%;
      margin-bottom: -15%;
      color:rgb(255, 255, 255);
      font-size:15px
    }